/* START : NAVBAR */
.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    // font-family: 'Special Elite', cursive;
    font-weight: 600;
    font-size: medium;
}

.navbar-nav i {
    font-size: 1.3em;
    margin-right: 0.5em;
}

.dropdown-menu.show {
    background-color: $light;
}

/* dropdown bullets style */

.dropdown-item.association i {
    font-size: 1em;
    color: $warning;
}

.dropdown-item.gamesHouse i {
    font-size: 1em;
    color: $danger;
}

.dropdown-item.localAnimation i,
.nav-link.localAnimation i {
    font-size: 1em;
    color: $primary;
}

.dropdown-item.childhood i {
    font-size: 1em;
    color: $success;
}

/* END : NAVBAR */
