main.container {
    background-color: #fff;
    .main__heading--background {
        background-size: cover;
    }
    h1 {
        font-family: 'Special Elite', cursive;
        margin: 1rem;
    }
}
