:root {
    --color-blue: #0099ff;
    --color-orange: #ff9900;
    --color-red: #cc0000;
    --color-green: #009900;
    --color-darkGrey: #666666;
    --color-middleGrey: #949494;
    --color-lightGrey: #cccccc;
}

// fonts

// font-family: 'Fredericka the Great', cursive;
// font-family: 'Special Elite', cursive;
